<div class=container>

  <p style="font-size: large;"> Add songs to your Playlist</p>
  <div>
    <label *ngFor="let song of songList">
      <input type="checkbox" name="{{song.name}}" (change)="onChange(song)" [(ngModel)]="song.isSelected"> {{ song.name
      }}
      <br>
    </label>
  </div>
  <br>
  <button (click)="addToPlaylist()">Add to playlist</button>
  <br>
  <br>
  <label>Enter new song :</label>
  <input type="text" placeholder="New Song" [(ngModel)]="newSongName">
  <button (click)="updateList()">Add song</button>

</div>
<!-- <app-my-playlist [playlistSelectedSongs]="this.sample"></app-my-playlist> -->
<app-my-playlist></app-my-playlist>